@model IEnumerable<UniWay_WebAppMVC.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehiculos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Vehiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor.Nombre)
            </td>
            <td>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
